/* center the content of index page  */
#WelcomeContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* welocome msg */
#welcomeMsg
{
    text-align: center;
}
/* search input  and search button*/
#search,#searchBtn
{
    display: inline;

}
/* container for dispaly notes */
#NotesContainer{
    background-color: #EEEEEE;
    height: 100vh;
}
/* container for add button and title */
#addContainer{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

}
/* note textarea  */
#noteDescription{
    resize: none;
    width: 100%;
}