body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(32, 30, 30);
}
/* center the content of index page  */
#WelcomeContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* welocome msg */
#welcomeMsg
{
    text-align: center;
}
/* search input  and search button*/
#search,#searchBtn
{
    display: inline;

}
/* container for dispaly notes */
#NotesContainer{
    background-color: #EEEEEE;
    height: 100vh;
}
/* container for add button and title */
#addContainer{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

}
/* note textarea  */
#noteDescription{
    resize: none;
    width: 100%;
}
/* card container */
.card{
    margin-bottom: 40px;
    height: 150px;
    margin-right: 40px;
}
/* result of search */
.searchResult{
    text-align: center;
    background-color: #EEEEEE;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* login form username  */
#login{
    background-color: #EEEEEE;
    height: 150px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;

}